html {
  font-size: 45%;
}
nav {
  position: fixed;
  flex-direction: column;
  line-height: 65px;
}
.logo h3 {
  font-size: 2.6rem;
}
header .container {
  width: 300px;
  padding: 13px;
  margin-left: 8px;
}
.aboutBox {
  padding: 0px;
  flex-direction: column-reverse;
}
.aboutContent {
  padding: 10px;
  width: 355px;
}
.aboutImg {
  padding: 0px;
  margin-right: -24px;
  margin-top: -145px;
  margin-left: 128px;
}
