html {
  font-size: 50%;
}

nav {
  flex-direction: column;
}
nav .menu {
  display: none;
  visibility: hidden;
}
.logo img {
  width: 50px;
  height: 55px;
  margin-right: 10px;
}
.logo h3 {
  display: block;
  visibility: visible;
  font-size: 2.5rem;
}
header .container {
  width: 300px;
  padding: 20px;
  margin-left: 8px;
}

.container h2 {
  font-size: 2.5rem;
}
.container h1 {
  font-size: 2.8rem;
  letter-spacing: 0.2rem;
  text-shadow: none;
}
.hover span {
  color: #bc7c23;
}

.aboutBox {
  padding: 3px;
  flex-direction: column-reverse;
}
.aboutImg {
  padding: 0px;
  margin-right: 8px;
  margin-top: -200px;
  margin-left: 184px;
}

.aboutImg img {
  width: 210px;
  display: block;
  margin: 50px auto;
}

.section_tag h2 {
  font-size: 3.4rem;
}
.section_tag h3 {
  font-size: 2.5rem;
}
.section_tag p {
  font-size: 1.3rem;
}

.box_3 {
  height: 250px;
  margin-right: 30px;
  padding: 7px;
  border-radius: 7px;
}

.footBox {
  width: 200px;
  height: 200px;
  margin: 12px;
}
